{% extends 'base.html' %}
{% block head %}

		<!-- Main -->
			<section id="main" class="wrapper">
                <header class = '{{cssclass}}'>
					<h2>Events</h2>
					<p>{{event}}.</p>
				</header>

                <section id="three" class="wrapper style1">
                        <div class="inner">
                            <div class="spotlights">  
                        
                        {% if event == 'events' %}
                        <h2>Upcoming Events</h2>
                        <a href = 'pastevents'>
                            <h1> See Past Events </h1>
                        </a>

                        {% endif %}

                        {% if event == 'pastevents' %}
                        <h2>Past Events</h2>
                        <a href = 'events'>
                            <h1> See Upcoming Events </h1>
                        </a>

                        {% endif %}

                        {% if event == 'events' %}
                                {% for event in upcomingevents %}
                                <section>
                                    <span class="aimage"><img src="images/{{event[4]}}" alt="" /></span>
                                    <div class="content">
                                        <h2>{{event[1]}} </h2> 
                                        <p class ='aevent-p'> {{event[7]}} -- {{event[9]}}<br>{{event[8]}}</p> 
                    
                                        ---------------------------------
                                        <br>
                                        <p class ='aevent-p'>{{event[2]}}</p> 
                                        <br>
                                        <a href="events-{{event[6]}}" class="button special small abutton">Read More</a>

                                    </div>
                                </section>
        
                                {% endfor %}
                                {% endif %}

                                
                        {% if event == 'pastevents' %}
                        {% for event in pastevents %}
                        <section>
                            <span class="aimage"><img src="images/{{event[4]}}" alt="" /></span>
                            <div class="content">
                                    <h2>{{event[1]}} </h2> 
                                    <p class ='aevent-p'> {{event[7]}} -- {{event[9]}}<br>{{event[8]}}</p> 
                
                                    ---------------------------------
                                    <br>
                                    <p class ='aevent-p'>{{event[2]}}</p> 
                                    <br>
                                    <a href="events-{{event[6]}}" class="button special small abutton">Read More</a>


                            </div>
                        </section>

                        {% endfor %}
                        {% endif %}
                            </div>
                        </div>
                    </section>


{% include "footer.html" %}
{% block foot %} {% endblock %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

    </body>
    {% endblock %}
    
</html>