		<!-- Footer -->
        <footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.facebook.com/groups/210561549077640/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/artsonthehudson/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="contact">
						<li>Jersey City, NJ 07302</li>
					</ul>
					<ul class="links">
						<li><a href="index.html">Home</a></li>
						<li><a href="contact">Contact</a></li>
						<li><a href="donate">Donate</a></li>
						<li><a href="pyrrhicproductions.com">Pyrrhic Productions</a></li>
					</ul>
					<p class="copyright">&copy; Arts on the Hudson 2018. All rights reserved.</p>
				</div>
			</footer>

        {% block foot %} {% endblock %}