{% extends 'base.html' %}
{% block head %}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<div class="content">
						<h2>Arts on the Hudson</h2>
						<p>Arts Nonprofit - Jersey City</p>
					</div>
					<ul class="actions vertical">
						</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper awrapper style1 split">
				<div class="inner">
					<div class="content">
						<h2>A non-profit dedicated to promoting and organizing local art education and events 
							<br>in Jersey City, NJ.</h2>
						<p>Our mission at Arts on the Hudson is to work with the community to enrich the cultural life of Jersey City.  
							<br>
							<br>
							At Arts on the Hudson, we promote and organize local art and arts education; this includes craft classes, performances, exhibitions, showcases, fundraisers, arts festivals, and more! 
							<br>
							<br>
							We strongly believe in providing platforms for a range of voices and perspectives as to reflect the diverse community that is Jersey City. To honor this mission, Arts on the Hudson is excited to launch a new program creating low cost promotional media to help connect and promote the work of local artists and art organizations. .</p>
						<ul class="actions">
							<li><a href="staff" class="button">Our Team</a></li>
						</ul>
					</div>
					<div class="image-circles">
						<div class="images">
							<span class="image"><img src="images/mickey_square.jpg" alt="" /></span>
							<span class="image"><img src="images/oddities_bust_square.jpg" alt="" /></span>
						</div>
						<div class="images">
							<span class="image"><img src="images/piano_square.jpg" alt="" /></span>
							<span class="image"><img src="images/backturned_square.jpg" alt="" /></span>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<header class="major">
						<h2>Inspiring Art in Our Community</h2>
						<p>Ipsum quis semper consequat, sem nibh mattis arcu, quis porttitor lorem justo in tellus. Aenean lacinia<br />
						interdum nisl felis et dui viverra, nec accumsan tempus quam ultricies.</p>
					</header>
					<div class="features">
						<section>
							<a href = 'education'>
								<span class="icon major fa-tag"></span>
							</a>
							<h3>Education</h3>
							<p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam ultricies magna tempus.</p>
						</section>
						<section>
							<a href = 'events'>
								<span class="icon major fa-camera-retro"></span>
							</a>
							<h3>Events</h3>
							<p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam ultricies magna tempus.</p>
						</section>
						<section>
							<a href = "#">
								<img class = 'asmall-logo' src = 'images/pyrrhic_logo_small.jpg'>
							</a>
							<h3>Pyrrhic Productions</h3>
							<p>Feugiat lorem quis semper consequat, sem nibh mattis arcu, amet porttitor lorem justo in cumsan quam ultricies magna tempus.</p>
						</section>
					</div>
					<footer class="major">
						</footer>
				</div>
			</section>

		<!-- Three -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header>
						<h2>Join the Cause</h2>
						<p>Ipsum quis semper consequat, sem nibh mattis arcu, quis porttitor lorem justo in tellus. Aenean lacinia<br />
						interdum nisl felis et dui viverra, nec accumsan tempus quam ultricies.</p>
					</header>
					<ul class="actions">
						<li><a href="give" class="button special major">Donate</a></li>
					</ul>
				</div>
			</section>
			{% include "footer.html" %}
			{% block foot %} {% endblock %}
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

			{% endblock %}
	</body>
</html>