{% extends 'base.html' %}
{% block head %}

		<!-- Main -->
			<section id="main" class="wrapper">
				<header class = '{{cssclass}}'>
					<h2>Promotional Media</h2>
					<p>For artists with something to promote </p>
				</header>



				<section id="three" class="wrapper style1">
					<div class="inner">
						<div class="spotlights">
							{% for video in videos %}
							<section class = 'asection'>
								<a href = "media-{{video[5]}}">
									<span><img src="images/{{video[3]}}" alt="" class="athumbnail" /></span>
								</a>
								<div class="content">
									<h2>{{video[1]}} </h2> 
										<p>{{video[2]}} </p>
									<br>
									<a href="media-{{video[5]}}" class="button special small abutton">Read More</a>
								</div>
								
							</section>
							<br>
	
							{% endfor %}
						</div>
					</div>
				</section>

{% include "footer.html" %}
{% block foot %} {% endblock %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

    </body>
    {% endblock %}
    
</html>